@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 700px;
    line-height: 80px;
}
h2{
    font-family: 'Bebas Neue', cursive;
}
.banner{
    background-color: #FFF9F4;
}
.penguin-orange{
    color: #FA804C;
}
.shopcart{
    width: 24px;
    height: 24px;
}
.buy-btn{
    padding: 12px 30px 12px 30px;
    display: flex;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    color: white;
    border: none;
    border-radius: 10px;

}
.margintop-130px{
    margin-top: 130px;
}